body{
    background-color: #D0D4CA;
    padding: 1rem;
}
.f1{
    padding: 10px;
    background-color: #FFFBF5;
    border-radius: 15px;
}
.f2{
    margin-top: 0.2rem;
    padding: 10px;
    background-color: #FFFBF5;
    border-radius: 15px;
    height: 40rem;
}
.f3{
    margin-top: 0.2rem;
    padding: 10px;
    background-color: #FFFBF5;
    border-radius: 15px;
    height: 15rem;
}
.f4{
    margin-top: 0.2rem;
    padding: 10px;
    background-color: #FFFBF5;
    border-radius: 15px;
    display: flex;
}
.modeofpayment,
.payable {
    flex: 1; /* Equal width */
    /* You can adjust flex values or set fixed widths as needed */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.sino{
    width:2px;
}
